/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .btn {
    width: 140px; 
    height: 30px; 
    border: 2px solid black;
    background-color: rgb(113, 170, 255);
    color:whitesmoke;
    box-shadow: 5px 2PX 2PX black;
}

.row {
    display: flex;
    justify-content: space-evenly;
    
}

.col {
    background-color: rgb(3, 182, 182);
    padding: 20px;
    margin: 20px;
    flex: 1;
}

.nav {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(65, 64, 64); 
    padding: 2px;
    justify-content: space-between;

}

.nav-title {
    color: white; 
    margin: 20px;

}

.nav-links {
display: flex;
list-style-type: none;
align-items: end;
margin-right: 40px;

}

a {
    text-decoration: none;
    color: rgb(207, 207, 207);
    margin: 20px;
}

a:hover {
    color:white;
}

.btn {
    background-color:rgba(75, 210, 255, 0.822);
    color: white;
    border: 3px solid black;
    box-shadow: 3px 2px 2px black;
}