body {
    width: 950px;
    margin: 0px auto ;
}

header {
    background-color: rgb(0, 0, 0);
    height: 60px;
    display: flex;
    align-items: center;
}

.title {
    color: rgb(255, 255, 255);
    margin: 10px;
}

.title2 {
margin-left: 400px;
}

/* box1 */

body {
    width: 950px;
    margin: 0px auto ;
}

#be {
    border: 3px black solid;
    margin: 40px;
    width: 500px;
    height: 200px;
    box-shadow: 1px 1px 1px;
}

#ba {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pe {
    margin-left: 9px;
}

h1 {
    margin: 20px;
}

.like {
     display: flex;
     margin-left: 80px;
     font-size: larger;

}

button {
    margin-left: 20px;
    width: 80px;
    height: 40px;
    background-color: rgba(243, 208, 92, 0.89);
    box-shadow: 4px 3px 3px;
    border: 3px black solid;
    font-size: x-large;
}

.filler {
    margin-left:30px;
    font-size: x-large;
}

a {
    margin: 3PX;
}

.secs {
    display: flex;

}

.box4 {
    border: 3px black solid;
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 1px;
    margin-top: 40px;   
}

.pic {
    width: 150px;
    margin: 20px;
    margin-left: 70px;
}

.avatar{
    margin: 20Px;
    font-size: large;
    margin-left: 50px;
}

.ava{
    margin-left: 30PX;
    font-size:22px;
}

.james {
    font-size: xx-large;
}